<!DOCTYPE html>
<html>
    <head>
        <title>GROUPUP</title>
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/stylesheets/index.css" rel="stylesheet">
        
        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>
        
    <div id="banner">
    <div class="container-fluid">
        <div class="container">
            <nav class="navbar navbar-default">
        		<div class="navbar-header">
        			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        			<a href="/" class="navbar-brand">GROUPUP</a>
        		</div>
        
        		<div class="collapse navbar-collapse" id="bs-nav-demo">
        		<ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    <% } else { %>
                        <li><a href="/events">Signed in as: <%= currentUser.username %></a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
        		</ul>
        		</div>
        	</nav>
    	</div>
    
    <% if(error && error.length > 0) { %>
    <div class="container">
        <div class="alert alert-danger" role="alert"><%= error %></div>    
    </div>
    <% } %>
    
    <% if(success && success.length > 0) { %>
    <div class="container">
        <div class="alert alert-success" role="alert"><%= success %></div>    
    </div>
    <% } %>
    
        <header id="box">
                <h2 id="title">Welcome to GroupUp</h2>
                <h4>Events for UTDallas Students BY UTDallas Students</h4>
                
                <div id="bannerBtns">
                    <ul>
                        <li>
                            <a href="/events/new" id="addEventBtn">POST AN EVENT</a>
                        </li>
                        <li>
                            <a href="#" id="searchEventBtn">SEARCH EVENTS</a>
                        </li>
                    </ul>
                </div>
                <br />
                <!--
                <h5 id="note">Note: Since so many people were posting inappropriate material I disabled image as an option.</h5>
                -->
        </header>
    </div> <!-- end of container-fluid -->
    </div> <!-- end of banner -->
    
    <div id="mission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="deal">
                    <p>What's the dealio?<p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="dealContent">
                    <object width="100" height="100" type="image/svg+xml" data="/svg/post.svg">
                    Your browser does not support SVG
                    </object>
                    <p>Register, log in, create new event postings, and comment. Gather friends or check out a post and attend an event.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="dealContent">
                    <object width="100" height="100" type="image/svg+xml" data="/svg/connect.svg">
                    Your browser does not support SVG
                    </object>
                    <p>Hand out and talk to new people. Connect and make new life-long friends. Experience something great.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="dealContent">
                    <object width="100" height="100" type="image/svg+xml" data="/svg/stayconnected.svg">
                    Your browser does not support SVG
                    </object>
                    <p>Check out the website for new postings but be sure to stay connected with your new friends!</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="events">
        <div class="container">
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <% listOfEvents.forEach(function(event){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img id="eventlisting-images" src="<%= event.image %>">
                            <div class="caption>"><h4><%= event.title.substring(0,30) %></h4></div>
                            <div>
                                <p>
                                    <a href="/events/<%=event._id %>" id="moreInfoBtn">MORE INFO</a>
                                </p>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of events -->

<% include ../partials/footer %>